body {
  background-color: #ffffcc;
}

.mood-board {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.mood-board-item {
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  box-shadow: none;
  text-align: center;
  min-height: 250px;
  background: none;
}

.mood-board-text {
  margin-top: 20px;
  font-size: 1.2em;
}
